[submodule "submodules/gaussian_rasterization_ch3/third_party/glm"]
	path = submodules/gaussian_rasterization_ch3/third_party/glm
	url = https://github.com/g-truc/glm.git

[submodule "submodules/forward_lite/third_party/glm"]
	path = submodules/forward_lite/third_party/glm
	url = https://github.com/g-truc/glm.git

[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
